<div class="container">
  <div class="row row-cols-1 row-cols-md-4 mt-4">
    <div class="col mt-2">
      <div class="card">
        <div class="card-body text-center">
          <h6 class="card-subtitle mb-2 text-body-secondary">Reduced-fare</h6>
          <h2 class="card-title">A week (7days)</h2>
          <p class="card-text">
            Since: data
          </p>
          <p class="card-text">
            Price: cena
          </p>
          <p class="card-text">
            Validity: true / false
          </p>
          <button class="btn btn-outline-primary">Show for inspection</button>
        </div>
      </div>
    </div>
    <div class="col mt-2">
      <div class="card">
        <div class="card-body text-center">
          <h6 class="card-subtitle mb-2 text-body-secondary">Reduced-fare</h6>
          <h2 class="card-title">A week (7days)</h2>
          <p class="card-text">
            Since: data
          </p>
          <p class="card-text">
            Price: cena
          </p>
          <p class="card-text">
            Validity: true / false
          </p>
          <button class="btn btn-outline-primary">Show for inspection</button>
        </div>
      </div>
    </div>
    <div class="col mt-2">
      <div class="card">
        <div class="card-body text-center">
          <h6 class="card-subtitle mb-2 text-body-secondary">Reduced-fare</h6>
          <h2 class="card-title">A week (7days)</h2>
          <p class="card-text">
            Since: data
          </p>
          <p class="card-text">
            Price: cena
          </p>
          <p class="card-text">
            Validity: true / false
          </p>
          <button class="btn btn-outline-primary">Show for inspection</button>
        </div>
      </div>
    </div>
    <div class="col mt-2">
      <div class="card">
        <div class="card-body text-center">
          <h6 class="card-subtitle mb-2 text-body-secondary">Reduced-fare</h6>
          <h2 class="card-title">A week (7days)</h2>
          <p class="card-text">
            Since: data
          </p>
          <p class="card-text">
            Price: cena
          </p>
          <p class="card-text">
            Validity: true / false
          </p>
          <button class="btn btn-outline-primary">Show for inspection</button>
        </div>
      </div>
    </div>
    <div class="col mt-2">
      <div class="card">
        <div class="card-body text-center">
          <h6 class="card-subtitle mb-2 text-body-secondary">Reduced-fare</h6>
          <h2 class="card-title">A week (7days)</h2>
          <p class="card-text">
            Since: data
          </p>
          <p class="card-text">
            Price: cena
          </p>
          <p class="card-text">
            Validity: true / false
          </p>
          <button class="btn btn-outline-primary">Show for inspection</button>
        </div>
      </div>
    </div>
  </div>
</div>
