<div class="container mt-5">
  <form [formGroup]="ticketForm">
    <div class="d-flex justify-content-center">
      <span class="h5 mt-3 me-2 text-secondary"><i class="bi bi-currency-dollar"></i> Normal</span>
      <label class="switch">
        <input id="customCheckbox" type="checkbox" formControlName="concession">
        <span class="slider round"></span>
      </label>
      <span class="h5 mt-3 ms-2 text-primary"><i class="bi bi-piggy-bank-fill"></i> Reduced</span>
    </div>
    <div class="offset-md-2 col-md-8 col-12 card bg-white shadow mt-3">
      <div class="card-body">
        <h3 class="card-title"> Seasonal ticket </h3>
        <p class="card-text"> Select ticket duration for more details: </p>
        <select class="form-select w-auto" id="seasonalSelect" formControlName="seasonTicketLength">
          <option
            *ngFor="let ticket of seasonTickets"
            [value]="ticket.validityLengthInDays">
            {{ enumSeasonCommuter[ticket.validityLengthInDays]}}
          </option>
        </select>
        <div class="d-flex justify-content-between fs-1 mt-3">
          <button (click)="purchaseSeasonTicket()" type="button" class="btn btn-outline-primary fs-3" >
            Purchase
          </button>
          <div class="card-text d-flex justify-content-end">
            <span class="ms-2 text-primary" *ngIf="selectedSeasonTicket">
              {{selectedSeasonTicket.price | currency:'PLN'}}
            </span>
          </div>
        </div>

      </div>
    </div>

    <div class="offset-md-2 col-md-8 col-12 card bg-white shadow mt-3">
      <div class="card-body">
        <h3 class="card-title"> Commuter ticket </h3>
        <p class="card-text"> Select ticket duration for more details: </p>
        <select class="form-select w-auto" id="commuterSelect" formControlName="commuterTicketLength">
          <option
            *ngFor="let ticket of commuterPass"
            [value]="ticket.validityLengthInMinutes">
            {{ enumSeasonCommuter[ticket.validityLengthInMinutes]}}
          </option>
        </select>
        <div class="d-flex justify-content-between fs-1 mt-3">
          <button (click)="purchaseCommuterPass()" type="button" class="btn btn-outline-primary fs-3" >
            Purchase
          </button>
          <div class="card-text d-flex justify-content-end ">
            <span class="ms-2 text-primary" *ngIf="selectedCommuterTicket">
              {{selectedCommuterTicket.price | currency:'PLN'}}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="offset-md-2 col-md-8 col-12 card bg-white shadow mt-3">
      <div class="card-body">
        <h3 class="card-title"> Single ticket </h3>
        <p class="card-text"> Select ticket duration for more details: </p>
        <div class="d-flex justify-content-between fs-1 mt-3">
          <button (click)="purchaseSingleTicket()" type="button" class="btn btn-outline-primary fs-3" >
            Purchase
          </button>
          <div class="card-text d-flex justify-content-end ">
            <span class="ms-2 text-primary">
              <span class="ms-2 text-primary" *ngIf="selectedSingleTicket">
                {{selectedSingleTicket.price | currency:'PLN'}}
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>


  </form>
</div>

