.cls{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: ghostwhite;
  min-width: 100%;
  z-index: -100;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
