<div class="bg-light rounded-1 shadow container border text-center mt-5 col-12 col-md-6">
  <div class=" d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-9 col-lg-7 col-xl-8">
      <form class="mt-3" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <a href="" class="navbar-brand pacifico fs-3 nav-item" routerLink="/home">
          <span class="text-primary">
            <i class="bi bi-bus-front"></i>
            Smart
          </span>
          Ticket
        </a>
        <div class="form-floating mt-4">
          <input type="text" id="username" formControlName="username" class="form-control h2" placeholder="E-mail">
          <label for="username">E-mail</label>
        </div>
        <div class="form-floating">
          <input type="password" id="password" formControlName="password" class="form-control h2" placeholder="password">
          <label for="password" >Password</label>
        </div>
        <div class="form-floating mt-2">
          <input type="password" id="password-2" formControlName="password2" class="form-control h2" placeholder="Repeat password">
          <label for="password-2">Confirm password</label>
          <div *ngIf="registerForm.errors?.['notMatched']">
            Password should be identical
          </div>
        </div>
        <button type="submit" class="shadow btn btn-outline-primary mt-3 w-50 fs-4">Register</button>
        <p class="text-center mt-4 mb-4"><a [routerLink]="['/login']" class="fw-bold text-body"><u>Login
          here!</u></a></p>
      </form>
    </div>
  </div>
</div>
