<nav class="sticky-top shadow navbar navbar-expand-lg bg-white" *ngIf="isVisible()">
  <div class="container-fluid">
    <a href="" class="navbar-brand pacifico fs-3 nav-item" [routerLink]="['home']">
      <span class="text-primary">
        <i class="bi bi-bus-front"></i>
        Smart
      </span>
      Ticket
    </a>
    <div class="justify-content-end">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#hamburgerMenu"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-nav ml-auto navbar-collapse collapse" id="hamburgerMenu">
        <div class="d-md-flex" *ngIf="true; else notLoggedIn">
          <a class="nav-link active" aria-current="page" routerLink="">Shop</a>
          <a class="nav-link active" aria-current="page" routerLink="">MyTickets</a>
          <a class="nav-link active" (click)="logout()">Logout</a>
        </div>
        <ng-template #notLoggedIn>
          <a [routerLink]="['signup']" class="nav-link active">SignUp</a>
          <a [routerLink]="['login']" class="nav-link active">LogIn</a>
        </ng-template>

      </div>
    </div>
  </div>
</nav>
